* {
    box-sizing:border-box;
}


/***NAV***/

.navbar {
    opacity:0.9;
}


.navbar-brand {
    margin:auto;
    font-size:1em;
}

.nav-item {
    font-size:1.2em;
}


/***COVER***/

.card-img {
    background-size: cover;
    opacity: 0.8;
}


.card-title {
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-size:3em;
    justify-content:center;
    align-items:center;
    margin-top:120px;
}



.developer {
    font-size:1em;
    margin-bottom:40px;
}


.arrow {
    display:none;
}




/***ABOUT***/

.profile-pic {
    display:flex;
    width:150px;
    height:200px; 
    margin:auto;
}



#about {
   background-color:#C8C8C8;
   
}

.about-me {
    font-size:2em;

}

.lead {
    text-align:center;
    padding:2em;
    color:black;
    
}

.icons {
    display:flex;
    justify-content: space-evenly; 
    
}

.skills li {
    list-style-type:none;
}

.icons svg {
    width:45px;
    height:45px;
}

.card-text {
    color:#fff;
    font-size:1em;
}




/***PROJECTS***/

.project-container {
    transition:all .3s ease;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.project-title {
    font-size:2em;
    color:#fff;
    padding-top:1em;
}


.project-text {
    font-size:1em;
    color:#61A6A9;
    padding-top:.5em;
    padding-bottom:.5em;
}



.background {
    background-image: url(../images/blacks-sand.jpg);
}

.projects {
    padding:2.4em;
    font-size:3em;
}



.project-img {
    height:300px;
    width:100%;
}



/***OVERLAY***/

.ovl {
  opacity:0;
}

.ovl:hover {
  background-color:black;
  opacity:.8;
  transition: .5s ease-in-out; 
}

.btn {
    color:white;
}

.col-sm {
   padding:1.5em;
}

.connect {
    font-size:2em;
}

.github,
.linkedin {
  font-size:60px;
  padding:10px;
  color:black;
}



.github:hover {
   color:#5E3191;
}

.linkedin:hover {
    color:#1D99CC;
}

.email {
    padding-top:30px;
    padding-bottom:100px;
    font-size:1.3em;
    color:black;
}


a:hover {
    color:grey;
}




/***ICONS ANIMATION***/

[data-scroll] {
    transition:all 2s;
}

[data-scroll="in"] {
    opacity:1;
    transform:translateX(0);
}

[data-scroll="out"] {
    opacity:0;
    transform:translateX(-200px);
} 

html {
  scroll-behavior: smooth;
}



@media (min-width:570px) {

.profile-pic {
    width:150px;
    height:200px; 
    margin:auto;
}

.projects {
    font-size:2em;
}

.project-title {
    font-size:1.2em;
}

.project-text {
    font-size:.9em;
}

.btn {
    font-size:.7em;
}

}


@media (min-width:768px) {

.card-title {
    margin-top:140px;
}

    .arrow {
        display:block;
        margin-top:100px;
        font-size:2em;
    }

.card-title {
    font-size:5em;
}


.developer {
    font-size:2em;
    font-family:sans-serif;
}

.row {
    padding:2em;
    }


.project-title {
    font-size:1.5em;

}

.project-text {
    font-size:1em;
}

.btn {
    font-size:1em;
}

}



@media (min-width:922px) {
 
.projects {
    font-size:3em;
}

.project-title {
    font-size:2em;
  
}

.project-text {
    font-size:1em;
   
    
}

.btn {
    font-size:1em;
}



}

